[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = https://github.com/d3xMachina/hidapi.git
[submodule "thirdparty/ViGEm.NET"]
	path = thirdparty/ViGEm.NET
	url = https://github.com/d3xMachina/ViGEm.NET.git
[submodule "thirdparty/WindowsInput"]
	path = thirdparty/WindowsInput
	url = https://github.com/d3xMachina/WindowsInput.git
